@{
    ViewBag.Title = "Welkom";
}

<div class="jumbotron">
    <h1>SupportCenter</h1>
    <p class="lead">Welkom op het online helpdesk systeem.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Nieuw ticket</h2>
        <p>Maak een nieuw ticket aan in het systeem.</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Ticket")">Nieuw ticket</a></p>
    </div>
    <div class="col-md-4">
        <h2>Alle tickets</h2>
        <p>Toont een lijst van alle bestaande tickets.</p>
        <p>@Html.ActionLink("Alle tickets", "Index", "Ticket", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Toon ticket</h2>
        <p>Geeft de details van één ticket.</p>
        <form action="/Ticket/Details" method="get" class="form-inline">
            <div class="form-group">
                <label class="sr-only" form="id">Ticketnummer</label>
                <input id="id" name="id" type="text" class="form-control">
            </div>
            <input type="submit" value="Toon ticket" class="btn btn-default">
        </form>
        @*@using (Html.BeginForm("Details", "Ticket", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.Label("id", "Ticketnummer", new { @class = "sr-only" })
                @Html.TextBox("id", null, new { @class = "form-control" })
            </div>
            <input type="submit" value="Toon ticket" class="btn btn-default" />
        }*@
    </div>
</div>